//CSS Reset

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --nitid-black: rgba(51, 38, 38, 0.8);
    --nitid-orange: rgba(201, 116, 59, 0.8);
    --white: #f9fcfb;
    --mg-header: 100px;
}

html{
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

body{
    background-image: url(../src/hamburger.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 5px solid red;
    font-size: 20px;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Monoton', cursive;
    background-color: var(--nitid-black);
    color: var(--white);
    margin-bottom: 50px;
}


.logo{
    font-size: 3rem;
    font-weight: 900;
    margin-left: var(--mg-header);
}

header ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: var(--mg-header);
}

.restaurant-content{
    margin: 0 auto;
    position: relative;
    max-width: 800px;
    font-size: 3rem;
    font-weight: 900;
    background-color: var(--nitid-orange);
    color: black;
    padding: 40px 80px;
}

.about-us{
    display: grid;
    gap: 20px;
}

.about-us-content{
    font-size: 1.5rem;
    line-height: 35px;
}

